.App {
    background-color: rgb(2, 5, 6);
    color: white;
}

.row-posters {
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    padding: 20px;
    transition: scroll 650ms;

}

.row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
    margin: 20px 20px 20px 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.large-poster {
    max-height: 250px;
}

.large-poster:hover {
    transform: scale(1.09);
}

.row-poster:hover {
    transform: scale(1.3);
    cursor: grab;
    opacity: 1;
}

.banner {
    color: white;
    object-fit: cover;
    height: 448px;
}

.banner-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-desc {
    width: 45rem;
    line-height: 1.3;
    font-size: .8rem;
    max-width: 360px;
    height: 80px;
    font-weight: 300;
}

.banner-buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.banner-button {
    cursor: pointer;
    color: #ffff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem .5rem 2rem;
    background-color: rgba(15, 51, 65, 0.5);
}



.banner-button:hover {
    color: #000;
    background-color: #ffff;
    transition: all .5s;
}

.banner-bot {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, .61), #111);
}

.navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px 3% 10px 3%;
    width: 94%;
    height: 50px;
    transition-timing-function: ease-in;
    transition: all .5s;
}

.nav_black {
    background-color: rgb(2, 5, 6);
}

.navbar img {
    object-fit: cover;
}